<div>
<h2>Calculs, op&eacute;rations</h2>
<p>Dans le tableau ci-apr&egrave;s, sont pr&eacute;sent&eacute;s les symboles utilis&eacute;s pour les op&eacute;rations de base.</p>
<blockquote>
<div>
<table border="1"><colgroup><col width="52%" /><col width="15%" /><col width="33%" /></colgroup>
<thead>
<tr>
<th>Op&eacute;rations</th>
<th>Symboles</th>
<th>Exemples</th>
</tr>
</thead>
<tbody>
<tr>
<td>addition</td>
<td><cite>+</cite></td>
<td>2 + 5 donne 7</td>
</tr>
<tr>
<td>soustraction</td>
<td><cite>-</cite></td>
<td>8 - 2 donne 6</td>
</tr>
<tr>
<td>multiplication</td>
<td><cite>*</cite></td>
<td><cite>6 * 7</cite> donne 42</td>
</tr>
<tr>
<td>exponentiation (puissance)</td>
<td><cite>**</cite></td>
<td><cite>5 ** 3</cite> donne 125</td>
</tr>
<tr>
<td>division</td>
<td>/</td>
<td>7 / 2 donne 3.5</td>
</tr>
<tr>
<td>reste de division enti&egrave;re</td>
<td>%</td>
<td>7 % 3 donne 1</td>
</tr>
<tr>
<td>quotient de division enti&egrave;re</td>
<td>//</td>
<td>7 // 3 donne 2</td>
</tr>
</tbody>
</table>
</div>

<h2>I Affectations et &eacute;galit&eacute;</h2>
<p>Une affectation se fait en utilisant le signe <code>=</code>.</p>
<p> Tester si une &eacute;galit&eacute; est vraie ou fausse se fait en utilisant <code>==</code>. Regardons l&rsquo;exemple suivant.</p>

In [ ]:
# Affectations :
a=13
print(a)

13

In [ ]:
# test égalité, variable booléenne :
# Exécutez et observer l'instruction ci-dessous
print(a==13)

True

In [ ]:
print("a==13")

a==13

In [ ]:
print(a<10)

False

In [ ]:
a+=3
# idem a=a+3
print(a)

25

Il faut bien faire attention à ne pas confondre l’égalité mathématique C = C + 1 qui est toujours fausse (ou l’équation d’inconnue C qui n’a pas de solution) avec la nouvelle affectation de la variable C à l’aide de l’ancienne valeur. Ce que l’on peut schématiser ainsi :
<p><font size="6"><center>
c<sub>nouveau</sub>=c<sub>ancien</sub>+1
    </center> </font>  </p>

## division euclidienne :

In [ ]:
# 5 divisé par 3 = 1 il reste 2.
# ce qui nous donne :
a=5
b=3
a%b

2

In [ ]:
a//b

1

In [ ]:
# ecrire un code qui dit si n et pair ou impair
n=0
if n%2 == 0 :
  print("n est pair")
else:
  print("n est impair")

n est pair

In [ ]:
# évalue mentalement le résultat, puis excute pour vérifier
# puis fait de même en changeant les valeurs de a et b
a=12
b=5
print("a%b =",a%b,'   a//b =',a//b)

In [ ]:
# puissance et racines carrées
a=3
print(a**2, a**3)

9 27

Python permet les affectations multiples:

In [ ]:
# racine carré est aussi égal a x**(1/2)
a=25
print(a**(1/2))

5.0

In [ ]:
# il existe bien sur une fonction racine carré, mais il faut charger la librairie math
from math import *
print(sqrt(a))

5.0

In [ ]:
a,r=20,1
print("a=",a)
print("r=",r)

a= 20
r= 1

<h2>II Chaînes de caractères</h2>
Pour afficher une chaîne de caractères, il faut utiliser la commande print.

In [ ]:
abc = "deux mots"
print(abc," n'est pas pareil que","abc")

deux mots  n'est pas pareil que abc

La chaîne de caractères vide s’écrit "" ou ''
## Manipulation de chaînes
Une chaîne de caractères est considérée comme une suite de caractères. Cette suite ou liste de caractères peut-être vue comme un tableau de caractères dont le premier élément se trouve à l'emplacement d'indice 0.

Ainsi la chaîne "Blabla bli bloubloublou." est représentée par le tableau de caractères suivant :
<img src="stringArray.png" alt="stringArray" />
Le caractère "B" est à l'indice 0, le "." à l'indice 23 et la longueur de la chaîne qui correspond à la taille du tableau est de 24.

In [ ]:
# Des commandes de base (à connaitre sans aucune hésitations)
montexte = "Blabla bli bloubloublou."
len(montexte)

24

In [ ]:
# le premier caractère est d'indice 0
montexte[1:5]

'labl'

In [ ]:
# et le dernier à l'indice 23 (et pas 24)
montexte[23]

'.'

In [ ]:
# un extrait du premier au 10eme caractère 
print(montexte[0:10])
#(notez bien que i est le 10ème, mais c'est le caractère d'indice 9)
print(montexte[9])

Blabla bli
i

In [ ]:
# savoir si un caractère est dans une chaine :
"a" in montexte

In [ ]:
# ou une sous chaine :
print("bla" in montexte)

True

In [ ]:
# ou se trouve i dans mon texte ?
montexte.index("bla")
# renvoi la première position trouvée

3

In [ ]:
# et s'il n'y est pas ?
montexte.index("z")

ValueError: ignored

In [ ]:
# mais on peut utiliser count :
print("dans le texte il y a ",montexte.count("a"),"a")
print("dans le texte il y a ",montexte.count("z"),"z")

dans le texte il y a  2 a
dans le texte il y a  0 z

Ajouter du texte à du texte ou modifier par ajout

Remarque : Lorsque l'on accole plusieurs textes ensemble on parle de concaténation.

In [ ]:
s="Bonjour Mr "
name='Dupond'
print(s+name)

Bonjour Mr Dupond

In [ ]:
line=s+name
print("line: ",line)

line:  Bonjour Mr Dupond

In [ ]:
line+=' !'
print(line)

Bonjour Mr Dupond !

# et si on mélangeait du texte et des nombres ?

In [ ]:
# evidement on ne peut pas additionner une chaine et un nombre :
a='1'
s='12'
print(a+s)

TypeError: ignored

Traduisez le code erreur ci-dessus. Vous le rencontrerez à coup sur, il est important de comprendre ce qu'il signifie !

In [ ]:
# en revanche on peut :
a="1"
s='n°'
print(s+a)

n°1

Ici nous avons faire une concaténation de la chaine s avec la chaine a
a="1" avec le caractère 1 à la variable a.
bien distinguer 1 (l'entier) 1.0 (décimal) et "1" chaine.

In [ ]:
# bien sur (quoique... on en reparlera...)
print(1==1.0)

True

In [ ]:
# mais :
"1"==1

False

In [ ]:
#par contre :
"12"==str(12)

True

In [ ]:
# ou encore :
int("aa")==1

ValueError: ignored

In [ ]:
#et bien sur
int("1")==1.0

True

In [ ]:
int("1.0")

ValueError: ignored

In [ ]:
# en réalité, quand on fait a==b avec a et b de type différent, python essaye de les comparer
# en convertissant certains types. Notamment les décimaux sont convertit si possible en entiers.
1==1.0 # ici 1.0 est converti en entier et vaut donc 1
# les chaines ne sont converties que si on le dit explicitement :
int('1')==1.0 #'1' est conerti en entier, mais il vaut, 1, pas 1.0

In [ ]:
# mais attention !
str(1.0)=="1"

False

In [ ]:
str(1.0)

'1.0'

In [ ]:
# pourtant :
1.0==1

True

In [ ]:
# et 
str(1)=="1"

résumons :
1.0 est bien égal à 1 et str(1) est bien égal à '1'
mais str(1.0) n'est pas égal à '1'
En réalité, str(1.0) vaut '1.0' ce n'est donc pas pareil que "1"
Il faut être toujours précautionneux dans les égalités avec des décimaux, et les conversion en chaines. 

Nous aurons l'occasion d'y revenir et de comprendre pourquoi dans un autre chapitre.

En informatique plus qu'ailleurs, il est important de bien comprendre que 1 et 1.0 ce n'est pas tout à fait identique. Nous verrons qu'il n'existe pas de nombre réel dans un ordinateur, alors que les entier existent (mais pas tous.. car il ne peux pas en exister une infinité...).
Il existe des décimaux, qu'on nomme les flottants, ou en anglais flooating points, c'est à dire nombre à virgule flottante.

Il est important de ne pas parler de réels, mais de flottants, la différence n'est pas du tout anodine.

In [ ]:
3.15